@{
    Layout = "_Layout";
}

<h1>Sumar</h1>
<form method="post" action="~/Home/Resultado">
    <fieldset>
        <legend>Introducir numeros:</legend>
        <label>Numero 1: </label><input name="Numero1" /> <br />
        <label>Numero 2: </label><input name="Numero2" /> <br />
        

        <input type="submit" value="Aceptar" />
    </fieldset>
</form>
